In [67]:
import pandas as pd

In [68]:
data=pd.read_csv("CourseData.csv",encoding='latin-1')

In [69]:
data

       Unnamed: 0                                               text
0               0  Now, I won't deny that when I purchased this o...
1               1  The saddest thing about this "tribute" is that...
2               2  Last night I decided to watch the prequel or s...
3               3  I have to admit that i liked the first half of...
4               4  I was not impressed about this film especially...
...           ...                                                ...
24995       24995  This film is fun, if your a person who likes a...
24996       24996  After seeing this film I feel like I know just...
24997       24997  first this deserves about 5 stars due to actin...
24998       24998  If you like films that ramble with little plot...
24999       24999  As interesting as a sheet of cardboard, this d...

[25000 rows x 2 columns]

In [70]:
data.drop("Unnamed: 0",axis="columns",inplace=True)

In [71]:
data

                                                    text
0      Now, I won't deny that when I purchased this o...
1      The saddest thing about this "tribute" is that...
2      Last night I decided to watch the prequel or s...
3      I have to admit that i liked the first half of...
4      I was not impressed about this film especially...
...                                                  ...
24995  This film is fun, if your a person who likes a...
24996  After seeing this film I feel like I know just...
24997  first this deserves about 5 stars due to actin...
24998  If you like films that ramble with little plot...
24999  As interesting as a sheet of cardboard, this d...

[25000 rows x 1 columns]

In [72]:
data.shape

(25000, 1)

In [73]:
data.columns=["Review_Text"]

In [74]:
data

                                             Review_Text
0      Now, I won't deny that when I purchased this o...
1      The saddest thing about this "tribute" is that...
2      Last night I decided to watch the prequel or s...
3      I have to admit that i liked the first half of...
4      I was not impressed about this film especially...
...                                                  ...
24995  This film is fun, if your a person who likes a...
24996  After seeing this film I feel like I know just...
24997  first this deserves about 5 stars due to actin...
24998  If you like films that ramble with little plot...
24999  As interesting as a sheet of cardboard, this d...

[25000 rows x 1 columns]

In [75]:
data.columns

Index(['Review_Text'], dtype='object')

In [76]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Review_Text  25000 non-null  object
dtypes: object(1)
memory usage: 195.4+ KB

In [77]:
data.isnull().sum()

Review_Text    0
dtype: int64

In [78]:
data.duplicated().sum()

96

In [79]:
data.drop_duplicates(inplace=True)

In [80]:
data.duplicated().sum()

0

In [81]:
blanks=[]

for index in data["Review_Text"]:
    if index.isspace()==True:
        blanks.append(index)

In [82]:
blanks

[]

In [83]:
import nltk

In [84]:
nltk.download("vader_lexicon")

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\haric\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [85]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [86]:
sentimentanalyzer=SentimentIntensityAnalyzer()

In [87]:
review="This is good and also worth"

In [88]:
sentimentanalyzer.polarity_scores(review)

{'neg': 0.0, 'neu': 0.455, 'pos': 0.545, 'compound': 0.5859}

In [89]:
data["scores"]=data["Review_Text"].apply(lambda compound: sentimentanalyzer.polarity_scores(compound))

In [90]:
data.head()

,Review_Text,scores
0,"Now, I won't deny that when I purchased this o...","{'neg': 0.086, 'neu': 0.716, 'pos': 0.198, 'co..."
1,"The saddest thing about this ""tribute"" is that...","{'neg': 0.135, 'neu': 0.78, 'pos': 0.085, 'com..."
2,Last night I decided to watch the prequel or s...,"{'neg': 0.038, 'neu': 0.867, 'pos': 0.094, 'co..."
3,I have to admit that i liked the first half of...,"{'neg': 0.135, 'neu': 0.715, 'pos': 0.15, 'com..."
4,I was not impressed about this film especially...,"{'neg': 0.106, 'neu': 0.754, 'pos': 0.14, 'com..."

In [91]:
data["compound_score"]=data["Review_Text"].apply(lambda compoundscoredata:sentimentanalyzer.polarity_scores(compoundscoredata)["compound"] )

In [92]:
data.head()

,Review_Text,scores,compound_score
0,"Now, I won't deny that when I purchased this o...","{'neg': 0.086, 'neu': 0.716, 'pos': 0.198, 'co...",0.9410
1,"The saddest thing about this ""tribute"" is that...","{'neg': 0.135, 'neu': 0.78, 'pos': 0.085, 'com...",-0.9367
2,Last night I decided to watch the prequel or s...,"{'neg': 0.038, 'neu': 0.867, 'pos': 0.094, 'co...",0.8002
3,I have to admit that i liked the first half of...,"{'neg': 0.135, 'neu': 0.715, 'pos': 0.15, 'com...",-0.4825
4,I was not impressed about this film especially...,"{'neg': 0.106, 'neu': 0.754, 'pos': 0.14, 'com...",0.6718

In [93]:
def compoundresult(review):
    if review >=0:
        return "positive"
    else:
        return "negative"

In [94]:
compoundresult(5)

'positive'

In [95]:
compoundresult(-2)

'negative'

In [96]:
data["compound_result"]=data["compound_score"].apply(compoundresult)

In [97]:
data.head()

,Review_Text,scores,compound_score,compound_result
0,"Now, I won't deny that when I purchased this o...","{'neg': 0.086, 'neu': 0.716, 'pos': 0.198, 'co...",0.9410,positive
1,"The saddest thing about this ""tribute"" is that...","{'neg': 0.135, 'neu': 0.78, 'pos': 0.085, 'com...",-0.9367,negative
2,Last night I decided to watch the prequel or s...,"{'neg': 0.038, 'neu': 0.867, 'pos': 0.094, 'co...",0.8002,positive
3,I have to admit that i liked the first half of...,"{'neg': 0.135, 'neu': 0.715, 'pos': 0.15, 'com...",-0.4825,negative
4,I was not impressed about this film especially...,"{'neg': 0.106, 'neu': 0.754, 'pos': 0.14, 'com...",0.6718,positive

In [98]:
data=data.drop(columns=["scores","compound_score"])

In [99]:
data

                                             Review_Text compound_result
0      Now, I won't deny that when I purchased this o...        positive
1      The saddest thing about this "tribute" is that...        negative
2      Last night I decided to watch the prequel or s...        positive
3      I have to admit that i liked the first half of...        negative
4      I was not impressed about this film especially...        positive
...                                                  ...             ...
24995  This film is fun, if your a person who likes a...        positive
24996  After seeing this film I feel like I know just...        positive
24997  first this deserves about 5 stars due to actin...        negative
24998  If you like films that ramble with little plot...        positive
24999  As interesting as a sheet of cardboard, this d...        positive

[24904 rows x 2 columns]

In [100]:
data.compound_result.value_counts()

positive    16389
negative     8515
Name: compound_result, dtype: int64

In [101]:
x=data["Review_Text"]
y=data["compound_result"]

In [102]:
from sklearn.model_selection import train_test_split

In [103]:
x_train,x_test,y_train,y_test=train_test_split(x,y)

In [104]:
from sklearn.svm import LinearSVC
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer

In [105]:
textclassifier=Pipeline(
    steps=[
        ("tfids",TfidfVectorizer()),
        ("svm",LinearSVC())
    ]
)

In [106]:
textclassifier.fit(x_train,y_train)

Pipeline(steps=[('tfids', TfidfVectorizer()), ('svm', LinearSVC())])

In [107]:
predictions=textclassifier.predict(x_test)

In [108]:
from sklearn.metrics import accuracy_score

In [109]:
accuracy_score(y_test,predictions)

0.8361708962415676

In [114]:
testing=["this is good course"]

textclassifier.predict(testing)

array(['positive'], dtype=object)

In [115]:
from sklearn.metrics import confusion_matrix

cm=confusion_matrix(y_test,predictions)

In [116]:
cm

array([[1508,  585],
       [ 435, 3698]], dtype=int64)